{% load static %}
<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <!-- ===== Theme ===== -->
    <link rel="stylesheet" id="theme" href="{% static 'css/themes/light.css' %}" />
    <link rel="stylesheet" href="{% static 'css/password-reset.css' %}" />

    <!-- ===== FAVICON ===== -->
    <link rel="shortcut icon" href="{% static 'img/favicon.ico' %}" type="image/x-icon">
    <link rel="icon" href="{% static 'img/favicon.ico' %}" type="image/x-icon">

    <title>College Finder | Forgot Password</title>
</head>

<body>
    <div class="modal__box active">
        <div class="modal__box__wrap">
            <div class="modal__header">
                <div class="header__text">
                    Recover Password
                </div>
            </div>
            <div class="modal__body">
                <p>Enter the email associated with your account and you'll get an email with
                    instructions to reset your password.</p>
                <br>
                <form action="{% url 'forgot-password' %}" method="POST">
                    {% csrf_token %}
                    <input id="reset-email" name="email-for-reset" type="email" required>
                    <div class="cta">
                        <a class="modal__submit modal__cancel" href="{% url 'login' %}">Cancel</a>
                        <button class="modal__submit" id="email-submit">Submit</button>
                    </div>
                </form>
            </div>
        </div>
    </div>

    <div class="alerts">
        {% if messages %}
        {% for message in messages%}
        <div class="alert {{message.tags}}" id="alert">
            <p>{{message}}</p>
            <i class='bx bx-x closebtn'></i>
        </div>
        {% endfor %}
        {% endif %}
    </div>
</body>

</html>