{% load static %}
<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <!-- ===== Theme ===== -->
    <link rel="stylesheet" id="theme" href="{% static 'css/themes/light.css' %}" />
    <link rel="stylesheet" href="{% static 'css/password-reset.css' %}" />

    <!-- ===== FAVICON ===== -->
    <link rel="shortcut icon" href="{% static 'img/favicon.ico' %}" type="image/x-icon">
    <link rel="icon" href="{% static 'img/favicon.ico' %}" type="image/x-icon">

    <title>College Finder | Password Reset</title>
</head>

<body>
    <div class="modal__box active">
        <div class="modal__box__wrap">
            <div class="modal__header">
                <div class="header__text">
                    Reset Password
                </div>
            </div>
            <div class="modal__body">
                <p>We got you covered. Enter your new password.</p>
                <br>
                <form action="{% url 'reset-password' uidb64 token %}" method="POST">
                    {% csrf_token %}
                    <input id="new-password" type="password" name="new-password" placeholder="Enter New Password"
                        required>
                    <br>
                    <input id="confirm-password" type="password" name="confirm-password" placeholder="Confirm Password"
                        required>
                    <button class="modal__submit">Submit</button>
                </form>
            </div>
        </div>
    </div>

    <div class="alerts">
        {% if messages %}
        {% for message in messages%}
        <div class="alert {{message.tags}}" id="alert">
            <p>{{message}}</p>
            <i class='bx bx-x closebtn'></i>
        </div>
        {% endfor %}
        {% endif %}
    </div>
</body>

</html>