{% extends "base.html" %}
{% load static %}
{% block extracss %}
<link rel="stylesheet" href="{% static 'css/update-form.css' %}">
{% endblock extracss %}

{% block content %}

<!-- gdfgsg -->
<h1>Update Profile</h1>

<form action="{% url 'update_profile' %}" id="profile-form" method="POST" enctype="multipart/form-data">
    {% csrf_token %}
    <div class="form-group">
        <label id="firstname-label" for="first_name">First Name</label>
        <input type="text" name="first_name" id="first_name" class="form-control" value="{{ u_form.first_name.value }}"
            placeholder="Enter your first name" />
    </div>
    <div class="form-group">
        <label id="lastname-label" for="last_name">Last Name</label>
        <input type="text" name="last_name" id="last_name" class="form-control" value="{{ u_form.last_name.value }}"
            placeholder="Enter your last name" />
    </div>

    <!-- SUBJECT TO CHANGE AFTER S3 BUCKET SETUP -->
    <!-- <div class="form-group">
        <label id="avatar-label" for="avatar">Avatar</label>
        <input type="file" name="avatar" id="avatar" class="form-control" accept="image/*" />
        <p>Current Picture: {{ p_form.avatar.value }}</p>
    </div> -->
    <div class="form-group">
        <p>Bio</p>
        <textarea id="bio" class="input-textarea" name="bio" placeholder="Add your Bio..."
            maxlength="140">{{ p_form.bio.value }}</textarea>
    </div>

    <div id="academics">

        <div class="form-group">
            <label id="gpa-label" for="gpa">GPA</label>
            <input type="number" name="gpa" id="gpa" min="2.2" max="4" step="0.01" class="form-control"
                value="{{ p_form.gpa.value }}" placeholder="GPA" />
        </div>

        <div class="form-group">
            <label id="gre-label" for="gre_score">GRE</label>
            <input type="number" name="gre_score" id="gre_score" min="260" max="340" step="10" class="form-control"
                value="{{ p_form.gre_score.value }}" placeholder="GRE" />
        </div>

        <div class="form-group">
            <label id="toefl-label" for="toefl_score">TOEFL</label>
            <input type="number" name="toefl_score" id="toefl_score" min="60" max="120" step="5" class="form-control"
                value="{{ p_form.toefl_score.value }}" placeholder="TOEFL" />
        </div>

        <div class="form-group">
            <label id="sop-label" for="sop_score">How strong do you think your SOP is?</label>
            <input type="range" id="sop_score" name="sop_score" min="1" max="5" step="0.5"
                value="{{ p_form.sop_score.value }}" />
        </div>

        <div class="form-group">
            <label id="lor-label" for="lor_score">How strong do you think your Letter of Recommendation is?</label>
            <input type="range" id="lor_score" name="lor_score" min="1" max="5" step="0.5"
                value="{{ p_form.lor_score.value }}" />
        </div>

        <div class="form-group">
            <label id="uni-label" for="uni_score">Rate your current university's reputation:</label>
            <input type="range" id="uni_score" name="uni_score" min="1" max="5" step="1"
                value="{{ p_form.uni_score.value }}" />
        </div>

        <div class="form-group">
            <p>Research Experience</p>
            {% for radio in p_form.research %}
            <label for="{{ radio.id_for_label }}">
                <span class="radio">{{ radio.tag }}</span>
                &nbsp
                {{ radio.choice_label }}
            </label>
            {% endfor %}
        </div>

    </div>
    <div class="form-group">
        <button type="submit" id="submit" class="submit-button">
            Submit
        </button>
    </div>
</form>
{% endblock content %}
