:root {
    /*===== Colors =====*/
    --first-color: #1a237e;
    --first-color-text: #1a237e;
    --first-color-light: #AFA5D9;
    --second-color: #512da8;
    --white: #fff;
    --black: #000;
    --black-second: #222;
    --white-color: #F7F6FB;
    --grey: #eee;
}